# Module 1: Python & Pandas

In [1]:
import pandas as pd

In [4]:
cars = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/mtcars.csv')

In [5]:
cars

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
cars.columns

Index(['manufacturer', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [7]:
cars.shape

(32, 12)

In [8]:
cars.head(2)

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [9]:
cars.head()

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
cars.loc[5:10]

   manufacturer   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
5       Valiant  18.1    6  225.0  105  2.76  3.46  20.22   1   0     3     1
6    Duster 360  14.3    8  360.0  245  3.21  3.57  15.84   0   0     3     4
7     Merc 240D  24.4    4  146.7   62  3.69  3.19  20.00   1   0     4     2
8      Merc 230  22.8    4  140.8   95  3.92  3.15  22.90   1   0     4     2
9      Merc 280  19.2    6  167.6  123  3.92  3.44  18.30   1   0     4     4
10    Merc 280C  17.8    6  167.6  123  3.92  3.44  18.90   1   0     4     4

In [11]:
cars.loc[5:10, 'mpg':'disp']

     mpg  cyl   disp
5   18.1    6  225.0
6   14.3    8  360.0
7   24.4    4  146.7
8   22.8    4  140.8
9   19.2    6  167.6
10  17.8    6  167.6

In [13]:
cars.loc[:6]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [14]:
cars.loc[:6, 'hp':]

    hp  drat     wt   qsec  vs  am  gear  carb
0  110  3.90  2.620  16.46   0   1     4     4
1  110  3.90  2.875  17.02   0   1     4     4
2   93  3.85  2.320  18.61   1   1     4     1
3  110  3.08  3.215  19.44   1   0     3     1
4  175  3.15  3.440  17.02   0   0     3     2
5  105  2.76  3.460  20.22   1   0     3     1
6  245  3.21  3.570  15.84   0   0     3     4

In [15]:
cars.loc[:, 'manufacturer':'wt']

           manufacturer   mpg  cyl   disp   hp  drat     wt
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875
2            Datsun 710  22.8    4  108.0   93  3.85  2.320
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440
5               Valiant  18.1    6  225.0  105  2.76  3.460
6            Duster 360  14.3    8  360.0  245  3.21  3.570
7             Merc 240D  24.4    4  146.7   62  3.69  3.190
8              Merc 230  22.8    4  140.8   95  3.92  3.150
9              Merc 280  19.2    6  167.6  123  3.92  3.440
10            Merc 280C  17.8    6  167.6  123  3.92  3.440
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345
17             Fiat 128  32.4    4   78.7   66  4.08  2.200
18          Honda Civic  30.4    4   75.7   52  4.93  1.615
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780

In [16]:
cars.loc[[2,4,6], ['manufacturer','mpg']]

        manufacturer   mpg
2         Datsun 710  22.8
4  Hornet Sportabout  18.7
6         Duster 360  14.3

In [18]:
cars.loc[[10]]

   manufacturer   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
10    Merc 280C  17.8    6  167.6  123  3.92  3.44  18.9   1   0     4     4

In [19]:
cars.loc[10, 'mpg']

17.8

In [20]:
cars.loc[:, ['manufacturer']]

           manufacturer
0             Mazda RX4
1         Mazda RX4 Wag
2            Datsun 710
3        Hornet 4 Drive
4     Hornet Sportabout
5               Valiant
6            Duster 360
7             Merc 240D
8              Merc 230
9              Merc 280
10            Merc 280C
11           Merc 450SE
12           Merc 450SL
13          Merc 450SLC
14   Cadillac Fleetwood
15  Lincoln Continental
16    Chrysler Imperial
17             Fiat 128
18          Honda Civic
19       Toyota Corolla
20        Toyota Corona
21     Dodge Challenger
22          AMC Javelin
23           Camaro Z28
24     Pontiac Firebird
25            Fiat X1-9
26        Porsche 914-2
27         Lotus Europa
28       Ford Pantera L
29         Ferrari Dino
30        Maserati Bora
31           Volvo 142E

In [21]:
cars[['manufacturer']]

           manufacturer
0             Mazda RX4
1         Mazda RX4 Wag
2            Datsun 710
3        Hornet 4 Drive
4     Hornet Sportabout
5               Valiant
6            Duster 360
7             Merc 240D
8              Merc 230
9              Merc 280
10            Merc 280C
11           Merc 450SE
12           Merc 450SL
13          Merc 450SLC
14   Cadillac Fleetwood
15  Lincoln Continental
16    Chrysler Imperial
17             Fiat 128
18          Honda Civic
19       Toyota Corolla
20        Toyota Corona
21     Dodge Challenger
22          AMC Javelin
23           Camaro Z28
24     Pontiac Firebird
25            Fiat X1-9
26        Porsche 914-2
27         Lotus Europa
28       Ford Pantera L
29         Ferrari Dino
30        Maserati Bora
31           Volvo 142E

In [22]:
cars.head(10)

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [23]:
cars.loc[2:5]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [24]:
cars.iloc[2:5]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [25]:
cars.iloc[2:6]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

In [26]:
cars.iloc[:, 0:6]

           manufacturer   mpg  cyl   disp   hp  drat
0             Mazda RX4  21.0    6  160.0  110  3.90
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90
2            Datsun 710  22.8    4  108.0   93  3.85
3        Hornet 4 Drive  21.4    6  258.0  110  3.08
4     Hornet Sportabout  18.7    8  360.0  175  3.15
5               Valiant  18.1    6  225.0  105  2.76
6            Duster 360  14.3    8  360.0  245  3.21
7             Merc 240D  24.4    4  146.7   62  3.69
8              Merc 230  22.8    4  140.8   95  3.92
9              Merc 280  19.2    6  167.6  123  3.92
10            Merc 280C  17.8    6  167.6  123  3.92
11           Merc 450SE  16.4    8  275.8  180  3.07
12           Merc 450SL  17.3    8  275.8  180  3.07
13          Merc 450SLC  15.2    8  275.8  180  3.07
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93
15  Lincoln Continental  10.4    8  460.0  215  3.00
16    Chrysler Imperial  14.7    8  440.0  230  3.23
17             Fiat 128  32.4    4   78.7   66  4.08
18          Honda Civic  30.4    4   75.7   52  4.93
19       Toyota Corolla  33.9    4   71.1   65  4.22
20        Toyota Corona  21.5    4  120.1   97  3.70
21     Dodge Challenger  15.5    8  318.0  150  2.76
22          AMC Javelin  15.2    8  304.0  150  3.15
23           Camaro Z28  13.3    8  350.0  245  3.73
24     Pontiac Firebird  19.2    8  400.0  175  3.08
25            Fiat X1-9  27.3    4   79.0   66  4.08
26        Porsche 914-2  26.0    4  120.3   91  4.43
27         Lotus Europa  30.4    4   95.1  113  3.77
28       Ford Pantera L  15.8    8  351.0  264  4.22
29         Ferrari Dino  19.7    6  145.0  175  3.62
30        Maserati Bora  15.0    8  301.0  335  3.54
31           Volvo 142E  21.4    4  121.0  109  4.11

In [27]:
cars.iloc[2:6, 0:6]

        manufacturer   mpg  cyl   disp   hp  drat
2         Datsun 710  22.8    4  108.0   93  3.85
3     Hornet 4 Drive  21.4    6  258.0  110  3.08
4  Hornet Sportabout  18.7    8  360.0  175  3.15
5            Valiant  18.1    6  225.0  105  2.76

In [28]:
cars.head(3)

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [29]:
cars.iloc[0:3]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [30]:
cars.iloc[:3]

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [32]:
cars.iloc[29:32]

     manufacturer   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
29   Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [33]:
cars.iloc[-3:]

     manufacturer   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
29   Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5     6
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31     Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [34]:
cars.iloc[[4,7,6], [0,3,5,2]]

        manufacturer   disp  drat  cyl
4  Hornet Sportabout  360.0  3.15    8
7          Merc 240D  146.7  3.69    4
6         Duster 360  360.0  3.21    8

In [35]:
cars.sort_values(by='mpg')

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [36]:
cars.sort_values(by='mpg', ascending=False)

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

In [37]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [38]:
cars.describe(include='all')

,manufacturer,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
unique,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Mazda RX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,NaN,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,NaN,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,NaN,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,NaN,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,NaN,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,NaN,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [41]:
mpg = cars[['mpg']]
mpg.mean()

mpg    20.090625
dtype: float64

In [42]:
mpg.sum()

mpg    642.9
dtype: float64

In [43]:
mpg.median()

mpg    19.2
dtype: float64

In [44]:
cars.mean()

/var/folders/r6/4krssl3d0zb29z_04r0ktqdc0000gn/T/ipykernel_22698/1764053374.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [47]:
cyl_column = cars['cyl']
cyl_frequency = cyl_column.value_counts()
cyl_frequency

8    14
4    11
6     7
Name: cyl, dtype: int64

In [49]:
cyl_frequency.to_csv('cyl_frequencies.csv', index=False)
cyl_frequency

8    14
4    11
6     7
Name: cyl, dtype: int64

In [51]:
import altair as alt

In [53]:
chart0 = alt.Chart(cars, width=500, height=300).mark_bar().encode(
    x='cyl',
    y='count()'
)
chart0

alt.Chart(...)

In [58]:
chart1 = alt.Chart(cars, width=500, height=300).mark_circle(color='red', size=60, opacity=0.3).encode(
    x='mpg',
    y='hp'
).properties(title="Scatter plot mpg vs hp")
chart1

alt.Chart(...)